header {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}

header nav {
  flex: 1;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  margin-right: 80px;
  position: relative;
  color: #333;
  background: #efefef;
}

header nav.active {
  color: #fff;
  background-color: #337ab7;
}
header nav.active::before {
  border-left-color: #337ab7;
}

header nav::before {
  content: '';
  position: absolute;
  border-top: 20px solid transparent;
  border-left: 20px solid #efefef;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  z-index: 1;
  right: 0;
  top: 0;
  transform: translateX(100%);
}

header nav:last-of-type {
  margin-right: 0;
}

header nav:last-of-type::before {
  display: none;
}
